body {
  font-family: Arial, Helvetica, sans-serif;
}

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

/* Moved .para from below .small-para to above it to take advantage of rule order */
.para {
  font-size: 22px;
}

.small-para {
  font-size: 14px;
  font-weight: 800;
}

/* Moved .button from below .confirm to above it to take advantage of rule order. Avoided using ID because they should be used sparingly */
.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 

/* Moved div.text from below .child to above it to take advantage of rule order. */
div.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}

/* Renamed from .child to ".text .child" to use a descendant combinator and to tie the specificity value with div.text */
.text .child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}